<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>LifeSpot</title>
    <!--Подключение стилей по относительному пути из внешнего файла-->
    <link href="../Static/CSS/index.css" rel="stylesheet" type="text/css">
</head>

<body>
    <header id="header-index">
        <!--Заголовок страницы-->
        <h1>LifeSpot - прямые трансляции с улиц</h1>
        <!--Параграф-->
        <p>Покажем, что происходит прямо сейчас</p>
    </header>

    <aside id="sidebar">
        <div class="navbar">
            <a href="/"><p>Все трансляции</p></a>
            <a href="/"><p>О проекте</p></a>
        </div>
    </aside>

    <!--<a href="https://vkvideo.ru/video-164719428_456243233"><button>Аша</button></a>
    <a href="https://vkvideo.ru/video-105329382_456241229"><button>Ивантеевка</button></a>
    <a href="https://vkvideo.ru/video-65092843_456262701"><button>Тольятти</button></a>-->
    
    <!-- Строка поиска -->
    <div class="search-container">
        <input type="text" class="search-input" placeholder="Поиск...">
    </div>

    <div class="video-container">
        <iframe src="https://vkvideo.ru/video_ext.php?oid=-164719428&id=456243233&hash=46a709814809687a&hd=2" width="853" height="480" allow="autoplay; encrypted-media; fullscreen; picture-in-picture; screen-wake-lock;" frameborder="0" allowfullscreen></iframe>
        <h3>Город Аша, центральная площадь</h3>
    </div>

    <div class="video-container">
        <iframe src="https://vkvideo.ru/video_ext.php?oid=-105329382&id=456241229&hash=bcf6a6bead8b3e73&hd=4" width="853" height="480" allow="autoplay; encrypted-media; fullscreen; picture-in-picture; screen-wake-lock;" frameborder="0" allowfullscreen></iframe>
        <h3>Поселок Ивантеевка, общие планы</h3>
    </div>

    <div class="video-container">
        <iframe src="https://vkvideo.ru/video_ext.php?oid=-65092843&id=456262701&hash=9de8b98dcf80c49f&hd=3" width="853" height="480" allow="autoplay; encrypted-media; fullscreen; picture-in-picture; screen-wake-lock;" frameborder="0" allowfullscreen></iframe>
        <h3>Город Тольятти, центральная развязка</h3>
    </div>

    <footer>
        <p>LifeSpot - все права защищены</p>
        <p>Связаться с нами: alexis@mail.ru</p>
    </footer>


</body>

</html>